@bandcolor: #028cd4;

body {
	background-color: #000;
	color: @bandcolor;
}


section#website {
	width: 90%;
	margin: 0 auto;
	text-align: center;

	header {
		background-image: url('../images/logo.jpg');
		background-position: center top;
    background-repeat: no-repeat;
    background-size: 340px 215px;
    height: 215px;
    width: 100%;

    @media (min-width: 500px) {
    	background-size: 500px 215px;
		}
	}

	.navbar {
		background-color: @bandcolor;
		border: none;

		ul li a {
			color: #fff;

			&:hover {
				background-color: #151515;
			}
		}

		ul.dropdown-menu {
			background-color: #151515;
			a:hover {
				background-color: @bandcolor;
			}
		}
	}

	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #151515;
	}

	.navbar-toggle {
		border: 2px solid #fff;

		&:hover {
			background-color: #151515;
		}

		span.icon-bar {
			color: #fff;
			background-color: #fff;
		}
	}
}

	